.data-view-container {
    padding: 10px;
    margin: 20px;
    box-shadow: 0px 0px 11px 2px rgba(255,0,0,0.78);
    height: auto;
    max-height: 80vh;
    overflow-y: scroll;
}

.graph-container {
    padding: 10px;
    margin: 20px;
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.5);
    height: auto;
}

.table-container {
    padding: 10px;
    margin: 20px;
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.5);
    height: auto;
}

.filter-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    height: auto;
    margin: 10px 0px;
}