.sessions-view-container {
    padding: 10px;
    margin: 20px;
    box-shadow: 0px 0px 11px 2px rgba(255,0,0,0.78);
    height: 80vh;
    overflow-y: scroll;
}

.active-sessions-container {
    padding: 20px;
    margin: 10px 0px;
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.5);
}

.completed-sessions-container {
    padding: 20px;
    margin: 10px 0px;
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.5);
}

mark {
    background-color: #FC8B94;
    color: rgb(8, 8, 8, 0, 0);
    box-shadow: inset 0px 0px 4px 2px white;
}


/* rgb(8, 8, 8, 0, 0) */

